:root {
  --width-main: 900px;
  --fsp: 1.2rem;
  --fsh1: calc(var(--fsp) + 0.9rem);
  --fsh3: calc(var(--fsp) + 0.5rem);
  --fsh4: calc(var(--fsp) + 0.3rem);
  --fsh5: calc(var(--fsp) + 0.1rem);
  --gap-margin: 16px;
  --theme-link: #2094f3;
  --site-bg: #f9fafb;
  --card: #fff;
  --text: #000;
  --block-border: #e3e5e8;
  --alpha60: rgba(255,255,255,0.6);
  --alpha100: #fff;
}
p {margin: 0}
a {
  cursor: pointer;
  text-decoration: none;
  color: var(--theme-link);
}
a:hover {
  color: #ff5724;
}
button {
  border: none;
  font-weight: 500;
  outline: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.title-song {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
}
.current-song {
  font-size: var(--fsh1);
  font-weight: bold;
}
.next-song {
  font-size: var(--fsh4);
}
.control-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.control-bar button {
    cursor: pointer;
    color: var(--text);
    background: var(--alpha100);
    padding: 8px;
    line-height: 0;
    font-size: 28px;
    margin: 0;
    height: 10rem;
}
.control-bar>button>svg {
  width: auto;
  height: 60px;
}
.l_body[leftbar] .l_main .post-card .control-bar button.leftbar-toggle {
  color: #1cd0fd;
  border-color: var(--block-border);
}
.l_body[leftbar] .l_main .post-card .control-bar button.leftbar-toggle svg g {
  fill: currentColor;
  fill-opacity: 0.3;
}
.l_body[leftbar] .l_main .post-card .control-bar button.leftbar-toggle svg g path#sep {
  transform: translateX(2px);
}
.l_body[rightbar] .l_main .post-card .control-bar button.rightbar-toggle {
  color: #1cd0fd;
  border-color: var(--block-border);
}
.l_body[rightbar] .l_main .post-card .control-bar button.rightbar-toggle svg g {
  fill: currentColor;
  fill-opacity: 0.3;
}
.l_body[rightbar] .l_main .post-card .control-bar button.rightbar-toggle svg g path#sep {
  transform: translateX(2px);
}
.img-contain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding-top: 3rem;
}
.img-contain>div {
  text-align: center;
}
.img-contain>div>p {
  margin: 0;
  font-size: var(--fsh3);
}
html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-padding-top: 8px;
}
body {
  background: var(--site-bg);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
}
div.lazy.img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.leftbar-container {
  display: flex;
  flex-direction: column;
  word-break: break-all;
  text-align: justify;
  backdrop-filter: saturate(240%) blur(var(--blur-px));
  --blur-px: 100px;
  --blur-bg: var(--alpha60);
}
.song-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem var(--gap-margin);
}
.song-container>.song-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: var(--fsh5);
  margin: 0.3rem 0;
}
.song-container>.song-list>div {
  width: calc(100% - 5rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.added-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.5rem;
}
.added-container>.song-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: var(--fsh5);
  margin: 0.3rem 0;
}
.added-container>.song-list>div {
  width: calc(100% - 8rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@supports ((-webkit-backdrop-filter: blur(var(--blur-px))) or (backdrop-filter: blur(var(--blur-px)))) {
  .widgets {
    overflow: scroll;
    flex-grow: 1;
    scrollbar-width: none;
    z-index: 1;
    line-height: 1.2;
    margin: 0 var(--gap-margin);
  }
  .widgets>div {
    height: 2.5rem;
    margin-top: 1rem;
  }
  .widgets>div>input {
    width: calc(100% - 5rem);
    height: 2rem;
    font-size: var(--fsh5);
    border-radius: 0.8rem;
    border-color: #c6c4c4;
    border-style: solid;
    border-width: medium;
  }
  .widgets>div>a {
    margin-left: 1rem;
    text-decoration: none;
    color: var(--theme-link);
    font-size: var(--fsh5);
  }
  .l_body {
    display: grid;
    grid-template-columns: 1fr minmax(200px, var(--width-main)) 1fr;
    grid-gap: var(--gap-margin);
    margin: auto;
    max-width: 1300px;
    font-size: var(--fsp);
  }
  @media screen and (max-width: 3000px) {
    .l_body .l_right {
      top: 8px;
      width: 66%;
      height: 100%;
      position: fixed;
      max-height: calc(100% - 8px * 2);
      transform: translateX(105%);
      transition: transform 0.38s ease-out;
      margin: 0;
      right: 8px;
      border-radius: 16px;
      box-shadow: 0 12px 16px -4px rgba(0,0,0,0.2);
      z-index: 10;
      background: var(--site-bg);
      overflow: auto;
      --blur-bg: var(--alpha60);
      --blur-px: 50px;
    }
    .l_body[rightbar] .l_right {
      transform: translateX(0px);
    }
    .l_body[rightbar] .main-mask {
      opacity: 1;
      pointer-events: inherit;
    }
  }
  @media screen and (max-width: 3000px) {
    .l_body {
      padding: 0;
      display: block;
    }
    .l_body .l_left {
      top: 8px;
      width: 66%;
      height: calc(100vh - 16px);
      position: fixed;
      transform: translateX(-105%);
      transition: transform 0.38s ease-out;
      margin: 0;
      left: 8px;
      overflow: auto;
      border-radius: 16px;
      box-shadow: 0 12px 16px -4px rgba(0,0,0,0.2);
      background: var(--site-bg);
      z-index: 10;
    }
    .l_body .l_main {
      max-width: 100%;
    }
    .l_body[leftbar] .l_left {
      transform: translateX(0px);
    }
    .l_body[leftbar] .main-mask {
      opacity: 1;
      pointer-events: inherit;
    }
  }
  .main-mask {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
    z-index: 9;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -webkit-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
  }
  .post-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 12px;
    background: var(--card);
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    z-index: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .function-song, .interrupt-song {
    display: flex;
    font-size: var(--fsh3);
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3rem;
  }
  .rotating {
      animation: rotate 9s linear infinite;
  }

  @keyframes rotate {
      from {
          transform: rotate(0deg);
      }
      to {
          transform: rotate(360deg);
      }
  }
}
.volume-setting {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 290px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  background-color: lightpink;
}

.volume-setting>div {
  margin: 7px 5px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1px 9px;
}

.volume-box {
  width: 139px;
}
.mkpgb-area {
  position: relative;
  cursor: pointer;
  height: 100%;
}
.mkpgb-bar {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 8px;
  margin-top: -1px;
  border-radius: 2px;
  background-color: #808284;
  overflow: hidden;
}
.mkpgb-cur {
  position: absolute;
  background-color: #D8D8D8;
  width: 0;
  height: 8px;
  top: 50%;
  margin-top: -1px;
  border-radius: 2px;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
}
.mkpgb-dot {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  left: 0px;
  margin-left: -5px;
  top: 50%;
  margin-top: -5px;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
}
